## PROJECT PROBABILITY

In [2]:
import pandas as pd
import numpy as np
import statistics

## Load Data Preparation

In [5]:
insurance = pd.read_csv("insurance.csv")
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

## 1. Analisa Deskriptif

Diketahui dari dataset asuransi ini didapatkan:
a.	Berapa Rata-rata umur pengguna Asuransi ?
b.	Berapa Rata-rata nilai BMI antara perokok dan tidak merokok?
c.	Berapa Rata-rata Premi yang dibayarkan oleh perokok dan non perokok? Mana yang lebih tinggi?
d.	Berapa Rata-rata Premi yang dibayarkan oleh perokok dengan BMI kurang dari 25 dan perokok dengan BMI lebih dari 25 ? Mana yang lebih tinggi?
e.	Lebih berat rata-rata BMI perokok atau non perokok?
f.	Lebih berat rata-rata BMI Perempuan atau laki laki?

In [3]:
insurance.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [4]:
satu_a=insurance['age'].mean()
satu_a

39.20702541106129

In [22]:
satu_b=insurance.groupby(['smoker']).mean()
satu_b = satu_b['bmi']

In [24]:
satu_c=insurance.groupby(['smoker']).mean()
satu_c['charges']
satu_c['charges']

smoker
no      8434.268298
yes    32050.231832
Name: charges, dtype: float64

In [31]:
satu_x=insurance.groupby(['smoker']).count()
satu_x['charges']

smoker
no     1064
yes     274
Name: charges, dtype: int64

In [28]:
satu_d1=insurance.loc[insurance["bmi"] > 25]
satu_d1=satu_d1.loc[insurance['smoker']=='yes']
satu_d1['charges'].mean()

35116.90965694065

In [25]:
satu_d2=insurance.loc[insurance["bmi"] <= 25]
satu_d2=satu_d2.loc[insurance['smoker']=='yes']
satu_d2['charges'].mean()

19839.278308545454

In [31]:
satu_e=insurance.groupby(['sex']).mean()
satu_e['bmi']

sex
female    30.377749
male      30.943129
Name: bmi, dtype: float64

In [32]:
30.377749-30.943129

-0.5653799999999976

## 2. Analisa Variabel Kategorik

a. Gender mana yang memiliki tagihan paling tinggi
b. Distribusi peluang tagihan di tiap-tiap region
c. Apakah setiap region memiliki proporsi data banyak orang yang sama?
d. Berapa peluang seseorang tersebut adalah perempuan diketahui dia adalah perokok?
e. Berapa peluang seseorang tersebut adalah laki-laki diketahui dia adalah perokok?

In [11]:
dua_a = insurance.groupby(['sex']).max()
dua_a['charges']

sex
female    63770.42801
male      62592.87309
Name: charges, dtype: float64

In [59]:
dua_c = insurance.groupby(['region'])
print(dua_c['charges'].count())
dua_cx = dua_c['charges'].count()/len(insurance)*100
print (dua_cx)

region
northeast    324
northwest    325
southeast    364
southwest    325
Name: charges, dtype: int64
region
northeast    24.215247
northwest    24.289985
southeast    27.204783
southwest    24.289985
Name: charges, dtype: float64

In [70]:
condition = (insurance['smoker']== 'yes')
total = len(insurance[condition])
dua_e= insurance[condition].groupby(['sex'])
dua_e = dua_e.count()
dua_e
dua_ex = insurance.groupby(['sex']).count()
dua_ex
rata_rata=dua_e/dua_ex
rata_rata

             age       bmi  children    smoker    region   charges
sex
female  0.173716  0.173716  0.173716  0.173716  0.173716  0.173716
male    0.235207  0.235207  0.235207  0.235207  0.235207  0.235207

In [72]:
dua_d=insurance.groupby(['smoker']).count()
dua_d
hasil = dua_d/len(insurance)
hasil

             age       sex       bmi  children    region   charges
smoker
no      0.795217  0.795217  0.795217  0.795217  0.795217  0.795217
yes     0.204783  0.204783  0.204783  0.204783  0.204783  0.204783

## 3. Analisa Variabel Kontinu

- Mencari kemungkinan terjadi, seorang perokok dengan BMI diatas 25 akan mendapatkan tagihan kesehatan di atas 16.700.		
- Berapa peluang seseorang acak tagihan kesehatannya diatas 16.7k diketahui dia adalah perokok
- Mana yang lebih mungkin terjadi :
i. Seseorang dengan BMI diatas 25 mendapatkan tagihan kesehatan diatas 16.7k, atau
ii.	Seseorang dengan BMI dibawah 25 mendapatkan tagihan kesehatan diatas 16.7k
- Mana yang lebih mungkin terjadi
i.	Seseorang perokok dengan BMI diatas 25 mendapatkan tagihan Kesehatan diatas 16.7k,
ii.	Seseorang non perokok dengan BMI diatas 25 mendapatkan tagihan kesehatan diatas 16.7k

In [74]:
condition=(insurance['smoker'] == 'yes') & (insurance['bmi'] > 25)
condition2= condition & (insurance['charges']>16700)
#&(insurance['smoker'] == 'yes')
tiga_b = len(insurance[condition2]) / len(insurance)
tiga_b

0.16068759342301944

In [75]:
condition=(insurance['smoker'] == 'yes')
condition2= condition & (insurance['charges']>16700)
tiga_c = len(insurance[condition2]) / len(insurance)
tiga_c

0.1898355754857997

In [86]:
condition1=(insurance['bmi'] > 25)
condition1a=condition1 & (insurance['charges']>16700)
tiga_d1 = len(insurance[condition1a]) / len(insurance)

condition2=(insurance['bmi'] <= 25)
condition2a=condition2 & (insurance['charges']>16700)
tiga_d2 = len(insurance[condition2a]) / len(insurance)
print(tiga_d1)
print(tiga_d2)

0.21150971599402094
0.03811659192825112

In [88]:
condition1=(insurance['smoker'] == 'yes') & (insurance['bmi'] > 25)
condition1a=condition1 & (insurance['charges']>16700)
tiga_e1 = len(insurance[condition1a]) / len(insurance)

condition2=(insurance['smoker'] == 'yes') & (insurance['bmi'] <= 25)
condition2a=condition2 & (insurance['charges']>16700)
tiga_e2 = len(insurance[condition2a]) / len(insurance)
print(tiga_e1)
print(tiga_e2)

0.16068759342301944
0.02914798206278027

## 4. Analisa Korelasi Variabel

-	Umur semakin tua/muda tagihan asuransi semakin tinggi (Korelasi Positif atau Negatif)
-	BMI semakin besar/kecil tagihan asuransi semakin tinggi (Korelasi Positif atau Negatif)
- Anak yang ditanggung makin banyak, tagihan asuransi semakin tinggi (Korelasi Positif atau Negatif)

In [12]:
empat_a =insurance[['age', 'charges']].corr()
empat_a

              age   charges
age      1.000000  0.299008
charges  0.299008  1.000000

In [20]:
empat_b =insurance[['bmi', 'charges']].corr()
empat_b

              bmi   charges
bmi      1.000000  0.198341
charges  0.198341  1.000000

In [ ]:
empat_c =insurance[['children', 'charges']].corr()
empat_c

          children   charges
children  1.000000  0.067998
charges   0.067998  1.000000

In [89]:
empat_d =insurance[['bmi', 'age']].corr()
empat_d

          bmi       age
bmi  1.000000  0.109272
age  0.109272  1.000000

In [90]:
empat_e =insurance[['children','age']].corr()
empat_e

          children       age
children  1.000000  0.042469
age       0.042469  1.000000

## 5. Pengujian Hipotesis
#### CEK DI EXCEL